<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <%= gravatar_for @user %>
      <span class="welcome">Welcome to the Sample App : </span>
      <span class="pseudo"> <%= @user.name %>!</span> 
      <p>
      Voici la liste des membres : 
      <%= @user_all.join(", ") %> </p>
    </section>
  </aside>
</div>
